@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 21%;
    /* --foreground: 229, 19%, 22%; */
    --foreground-alt: 217, 20%, 35%;
    /* --foreground-alt: 44, 0%, 12%; */

    --card: 0 0% 100%;
    --card-foreground: 0, 0%, 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 0, 0%, 20%;

    --pigment-blue: 217, 91%, 60%;
    --pigment-blue-lighter: 200, 91%, 60%;
    --pigment-purple: 252, 97%, 69%;
    --pigment-pink: 281, 97%, 69%;
    --pigment-pinker: 335, 90%, 64%;

    --code: 233, 13%, 14%;
    --link: 213, 91%, 45%;

    --highlighted: 210, 80%, 94%;

    --primary: 226, 44%, 73%;
    --primary-foreground: 230, 100%, 65%;

    /* --secondary: 231 47% 97%; */
    --secondary: 210, 100%, 98%;
    --secondary-foreground: 0, 0%, 20%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 228 10% 53%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 209, 23%, 84%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Custom */

    --logo: 0, 0%, 20%;
    --logo-foreground: 225, 97%, 71%;
  }

  .dark {
    --background: 217 30.549999999999997% 2.56%;
    --background-darker: 0, 0%, 16%;
    --foreground: 217 4.699999999999999% 96.6%;
    --foreground-alt: 210, 1%, 68%;

    --muted: 217 23.5% 9.6%;
    --muted-foreground: 217 4.699999999999999% 53.2%;

    --popover: 217 55.6% 4.16%;
    --popover-foreground: 217 4.699999999999999% 96.6%;

    --card: 217 55.6% 4.16%;
    --card-foreground: 217 4.699999999999999% 96.6%;

    --border: 217, 19%, 27%;
    --input: 217 23.5% 9.6%;

    --code: 220, 24%, 10%;

    --highlighted: 227, 20%, 18%;

    --primary: 216, 47%, 32%;
    --primary-foreground: 214, 75%, 60%;

    --secondary: 217 23.5% 9.6%;
    --secondary-foreground: 217 4.699999999999999% 96.6%;

    --accent: 217 23.5% 9.6%;
    --accent-foreground: 217 4.699999999999999% 96.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 217 4.699999999999999% 96.6%;

    --ring: 217 47% 32%;

    /* Custom */

    --logo: 225, 97%, 71%;
    --logo-foreground: 217 30.549999999999997% 2.56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .default-layout {
    @apply max-w-classic mx-auto;
  }

  .article-layout {
    /* @apply max-w-[675px] mx-auto; */
    @apply max-w-[750px] mx-auto;
  }

  .project-layout {
    /* @apply max-w-[675px] mx-auto; */
    @apply max-w-[1366px] mx-auto;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background: transparent;
}
