@import '../variables.module';

.ctn {
  @include flexCenter;
  justify-content: flex-start;
  color: var(--linkColor);
  & > * {
    margin-right: $spacingXXS;
  }
  & path {
    stroke: var(--primaryTxtColor) !important;
  }
}
