@import '../variables.module';

.button,
.menu {
  display: none;
}

@media screen and (max-width: $breakpointSM) {
  .button,
  .menu {
    display: block;
  }
}

.button {
  z-index: 999;
  margin-left: 10px;
  border: none;
}

.menuIcon {
  height: 24px;
  width: 24px;
  flex-direction: column;
}

.menu {
  z-index: 998;
  position: absolute;
  left: 0;
  top: var(--headerHeight);
  width: 100vw;
  transition: 0.5s cubic-bezier(1, -0.03, 0.08, 0.94);

  @include flexCenter;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--foreground);
  backdrop-filter: blur(10px);
  & > * {
    display: none;
    padding: 1rem 0 1rem 1.5rem;
    font-size: $fontSizeXXL;
    margin-top: $spacingXXS;
    opacity: 0;
  }
}

.open {
  height: calc(100vh - 84px);
  & > * {
    animation: popFromNothing 0.8s cubic-bezier(0.45, 0.01, 0.1, 1.02) forwards;
    display: inline;
    width: 100%;
  }
}
@for $i from 1 through 10 {
  .open > *:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1}s;
  }
}

.close {
  height: 0px;
}

.navTrigger {
  @include flexCenter;
  flex-direction: column;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: auto;
  i {
    background-color: var(--primaryTxtColor);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
  }
  i:nth-child(1) {
    -webkit-animation: outT 0.5s backwards;
    animation: outT 0.5s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.5s backwards;
    animation: outM 0.5s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  i:nth-child(3) {
    -webkit-animation: outBtm 0.5s backwards;
    animation: outBtm 0.5s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  &.active {
    i:nth-child(1) {
      -webkit-animation: inT 0.5s forwards;
      animation: inT 0.5s forwards;
    }
    i:nth-child(2) {
      -webkit-animation: inM 0.5s forwards;
      animation: inM 0.5s forwards;
    }
    i:nth-child(3) {
      -webkit-animation: inBtm 0.5s forwards;
      animation: inBtm 0.5s forwards;
    }
  }
}
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
