@import '@/styles/variables.module';

.tag {
  @include flexCenter;
  cursor: pointer;
  background: var(--elementColor);
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  padding: $spacingXXXS $spacingXXS;
  border: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50px;
    background: none;
    border: 2px solid var(--mainColor);
    display: none;
  }
  &:hover {
    background: var(--elementColorDarker);
    &:after {
      display: block;
    }
  }
  &Selected {
    background: var(--primaryTxtColor) !important;
    color: var(--foreground);

    &:after {
      display: block;
    }
  }
}
