@import '../variables.module';

.socials {
  @include flexCenter;
  & a {
    @include flexCenter;
    background: var(--foreground);
    padding: 8px;
    border-radius: 50px;
    margin-right: 10px;
    & svg {
      fill: var(--secondaryTxtColor);
    }
    &:hover {
      & svg {
        fill: var(--primaryTxtColor);
        transition: 0.2s ease-in-out;
      }
    }
  }
}
