@import '@/styles/variables.module';

.header {
  height: 84px;
  width: 100%;
  @include flexCenter;
  justify-content: space-between;
}

.logoAndMenus {
  @include flexCenter;
}

.logo {
  width: 36px;
  position: relative;
}

.logoLink {
  @include flexCenter;
}

.verticalDivider {
  background: var(--secondaryTxtColor);
  height: 18px;
  width: 3px;
  margin: 0 15px 0 25px;
}

.menuLink {
  @include flexCenter;
  margin-right: 10px;
  font-weight: $fontWeightMedium;
  color: var(--secondaryTxtColor);
  padding: 10px;
  border-radius: 10px;
  & svg {
    margin-right: 10px;
  }
  &:hover {
    color: var(--primaryTxtColor);
    transition: 0.2s ease-in-out;
    background: var(--foreground);
  }
}
