@import '@/styles/variables.module';

.ctn {
  @include flexCenter;
  flex-direction: column;
}

.contentCtn {
  @include flexCenter;
  width: 100vw;
  background: var(--foreground);
  margin-top: var(--headerHeight);
}

.header {
  height: var(--headerHeight);
  width: 100%;
  @include flexCenter;
  justify-content: space-between;
  position: fixed;
  left: 0;
  background: var(--backgroundBlured);
  inset: 0;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  padding: 0 $spacingXS;
  z-index: 99999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  width: 100vw;
  // max-width: 72rem;
}

.logoAndMenus {
  @include flexCenter;
  & path {
    fill: var(--mainColor) !important;
  }
}

.logo {
  width: 36px;
  position: relative;
}

.logoTxt {
  margin-left: 10px;
  font-size: $fontSizeM;
  font-weight: bolder;
}

.logoLink {
  @include flexCenter;
}

.verticalDivider {
  background: var(--primaryTxtColor);
  height: 18px;
  width: 3px;
  margin: 0 15px 0 25px;
}

.menuLink {
  @include flexCenter;
  margin-right: 10px;
  font-weight: $fontWeightMedium;
  color: var(--primaryTxtColor);
  padding: 10px;
  border-radius: 10px;
  & svg {
    margin-right: 10px;
  }
  &:hover {
    color: var(--primaryTxtColor);
    transition: 0.2s ease-in-out;
    background: var(--foreground);
  }
}

.buttons {
  @include flexCenter;
  & button {
    background: none !important;
  }
}

@media screen and (max-width: $breakpointSM) {
  .logo {
    width: 50px;
  }
  .verticalDivider,
  .menuLink {
    display: none;
  }
}

@media screen and (max-width: $breakpointXXS) {
  .logoTxt {
    display: none;
  }
}
