@import '@/styles/variables.module';

.header {
  padding-top: 30px;
  &Title {
    font-size: 80px;
    font-weight: $fontWeightSemiBold;
  }
  &Actions {
    width: 100%;
    height: 50px;
  }
}
.searchBar {
  @include flexCenter;
  justify-content: flex-start;
  background: var(--elementColor);
  padding: 0 $spacingXS;
  margin-top: $spacingXXXS;
  height: 50px;
  max-width: 600px;
  border-radius: 50px;
  &TextInput {
    background: var(--elementColor);
    border: none;
    font-size: $fontSizeS;
    margin: 0 $spacingXXS 2px $spacingXXS;
  }
}

.divider {
  margin: $spacingXXS 0 $spacingXS 0;
  width: 100%;
  height: 1px;
  background: var(--secondaryTxtColorLighter);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.item {
  margin-bottom: 1rem;
  &Banner {
    background: var(--elementColor);
    display: block;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    & svg {
      border-radius: 10px;
      height: 200px
    }
    & path {
      fill: var(--secondaryTxtColor);
    }
    &Pic {
      border-radius: 10px;
    }
  }
  &Tags {
    margin-top: $spacingXXS ;
    & > * {
      color: var(--secondaryTxtColor);
      font-size: $fontSizeXS;
      font-weight: $fontWeightMedium;
      margin-right: 10px;
    }
  }
  &Title {
    font-size: $fontSizeL;
    font-weight: $fontWeightSemiBold;
  }
}

.tagSelector {
  color: var(--primaryTxtColor);
  & svg {
    fill: var(--secondaryTxtColor);
  }
}

.tagsCtn {
  @include flexCenter;
  margin-top: $spacingXS;
  width: 100%;
  justify-content: flex-start;
}

.tag {
  @include flexCenter;
  cursor: pointer;
  background: var(--elementColor);
  border-radius: 10px;
  margin-right: $spacingXXXS;
  margin-bottom: $spacingXXXS;
  padding: $spacingXXXS $spacingXXS;
  border: 1px solid rgba(255, 255, 255, .08);
  &Selected {
    background: red;
  }
}

@media screen and (max-width: $breakpointMD) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $breakpointSM) {
  .header {
    padding-top: 0;
  }

  .list {
    grid-template-columns: 1fr;
  }
}
