@import '@/styles/variables.module';

.header {
  padding-top: 30px;
  &Title {
    font-size: 80px;
    font-weight: $fontWeightSemiBold;
  }
  &Actions {
    width: 100%;
    height: 50px;
  }
}

.searchBar {
  border: 1px solid var(--border);
  & svg {
    fill: var(--primaryTxtColor);
    stroke: var(--primaryTxtColor);
  }
  @include flexCenter;
  justify-content: flex-start;
  background: var(--elementColor);
  padding: 0 $spacingXS;
  margin-top: $spacingXXXS;
  height: 50px;
  max-width: 600px;
  border-radius: 50px;
  box-shadow: var(--boxShadow);
  &TextInput {
    width: calc(100% - 40px);
    background: var(--elementColor);
    padding: $spacingXXS;
    border: none;
    font-size: $fontSizeS;
    margin: 0 $spacingXXS 2px 0;
  }
}

.divider {
  margin: $spacingXXS 0 $spacingXS 0;
  width: 100%;
  height: 1px;
  background: var(--secondaryTxtColorLighter);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.item {
  margin-bottom: 1rem;
  &Banner {
    background: var(--elementColor);
    display: block;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    & svg {
      border-radius: 10px;
      height: 200px;
    }
    & path {
      fill: var(--secondaryTxtColor);
    }
    &Pic {
      border-radius: 10px;
    }
  }
  &Tags {
    margin-top: $spacingXXS;
    & > * {
      color: var(--secondaryTxtColor);
      font-size: $fontSizeXS;
      font-weight: $fontWeightMedium;
      margin-right: 10px;
    }
  }
  &Title {
    font-size: $fontSizeL;
    font-weight: $fontWeightSemiBold;
  }
}

.tagSelector {
  color: var(--primaryTxtColor);
  & svg {
    fill: var(--secondaryTxtColor);
  }
}

$finalHeight: 35px;
$finalWidth: 100 * $finalHeight;
$scrollBarHeight: 1px;

.tagsCtn {
  @include flexCenter;
  margin-top: $spacingXS;
  width: 100%;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tag {
  &Ctn {
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 50px;
  }
}

@media screen and (max-width: $breakpointMD) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $breakpointSM) {
  .header {
    padding-top: 0;
  }

  .list {
    grid-template-columns: 1fr;
  }
}
