@import '@/styles/variables.module';

.ctn {
  margin: $spacingL 0;
}

.catAndDate {
  @include flexCenter;
  justify-content: flex-start;
  margin: $spacingXS 0;
  font-size: $fontSizeXS;
  color: var((--secondaryTxtColor));
  & > * {
    margin-right: $spacingXXS;
  }
  &Dot {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &Divider {
    height: 13px;
    width: 2px;
    background: var(--secondaryTxtColor);
  }
  &Date {
    font-style: italic;
  }
}

.category {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  // margin-right: $spacingXXS;
  margin-right: 10px;
}

.title {
  font-size: $fontSizeXXXL;
  margin-bottom: $spacingXS;
}

.tags {
  @include flexCenter;
  justify-content: flex-start;
  margin-bottom: $spacingXS;
  & > * {
    margin-right: 8px;
    display: block;
    padding: 3px 12px;
    border-radius: 10px;
    background: var(--elementColor);
    border: 1px solid var(--border);
  }
}
