@font-face {
  font-family: 'Poppins';
  src: url('../media/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Averta';
  src: url('../media/fonts/Averta/avertaRegular.otf');
}
@font-face {
  font-family: 'Satoshi';
  src: url('../media/fonts/Satoshi/Satoshi-Medium.otf');
}
@import '@/styles/variables.module';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --PROGRAMMINGColor: rgba(81, 177, 82, 1);
  --PROGRAMMINGGradient: linear-gradient(45deg, rgb(146, 198, 90) 0%, rgb(14, 155, 74) 100%);

  --CGIColor: rgb(68, 144, 226);
  --CGIGradient: linear-gradient(45deg, rgb(78, 204, 245) 0%, rgb(57, 78, 206) 100%);

  --GRAPHIC_DESIGNColor: rgb(189, 64, 64);
  --GRAPHIC_DESIGNGradient: linear-gradient(45deg, rgb(198, 90, 90) 0%, rgb(181, 40, 40) 100%);

  --CRAFTColor: rgb(253, 208, 46);
  --CRAFTGradient: linear-gradient(45deg, rgb(227, 198, 80) 0%, rgb(223, 171, 38) 100%);

  --background: #f1f1f1;
  --backgroundBlured: rgba(255, 255, 255, 0.6);
  --backgroundBluredDarker: rgba(255, 255, 255, 0.85);
  --foreground: rgba(255, 255, 255);
  --elementColor: #f3f8ff;
  --elementColorDarker: #e6ebf1;

  --scrollbarTrack: rgb(235, 235, 235);
  --scrollbarThumb: rgb(129, 139, 153);

  --mainColor: rgb(54, 171, 226);
  --linkColor: rgb(46, 132, 207);

  --primaryTxtColor: rgb(22, 22, 22);
  --secondaryTxtColor: rgb(70, 70, 70);
  --secondaryTxtColorLighter: rgba(109, 113, 115, 0.27);

  --border: rgba(0, 0, 0, 0.12);
  --borderHovered: rgba(255, 255, 255, 0.25);
  --divider: rgba(0, 0, 0, 0.15);
  --boxShadow: 0px 4px 5px rgba(22, 22, 22, 0.1);

  --headerHeight: 84px;
  --condensedHeaderHeight: 60px;
}

[data-theme='dark'] {
  --background: rgb(8, 8, 9);
  --backgroundBlured: rgba(8, 8, 9, 0.6);
  --backgroundBluredDarker: rgba(8, 8, 9, 0.9);

  --foreground: rgb(14, 14, 17);
  --elementColor: rgb(29, 28, 32);
  --elementColorDarker: rgb(20, 19, 22);

  --scrollbarTrack: rgb(20, 23, 24);
  --scrollbarThumb: rgb(57, 63, 65);

  --mainColor: rgb(139, 210, 254);
  --linkColor: rgb(94, 180, 255);

  --primaryTxtColor: white;
  --secondaryTxtColor: rgb(167, 167, 167);
  --secondaryTxtColorLighter: rgba(167, 167, 167, 0.27);

  --border: rgba(255, 255, 255, 0.08);
  --borderHovered: rgba(255, 255, 255, 0.25);
  --divider: rgba(255, 255, 255, 0.15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Averta', 'Poppins', 'Satoshi', sans-serif;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background) !important;
  color: var(--primaryTxtColor) !important;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  @include button;
  font-family: 'Averta', 'Poppins', 'Satoshi', sans-serif;
}

input {
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--secondaryTxtColor);
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--background);
  background: var(--mainColor);
}

::selection {
  color: var(--background);
  background: var(--mainColor);
}

// /* width */
// ::-webkit-scrollbar {
//   width: 18px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: var(--scrollbarTrack);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background-color: var(--scrollbarThumb);
//   border: 3px solid transparent;
//   border-radius: 6px;
//   background-clip: content-box;
// }
