[data-rehype-pretty-code-figure] {
  @apply my-6;
}

[data-rehype-pretty-code-figure] pre {
  @apply px-0 font-monoLisa bg-code !important;
}

[data-rehype-pretty-code-figure] code {
  @apply text-sm !leading-7 md:text-base border-0;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="blue"] {
  @apply border-l-[5px] border-l-blue-500 !important;
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="green"] {
  @apply border-l-[5px] border-l-green-500 !important;
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="purple"] {
  @apply border-l-[5px] border-l-purple-500 !important;
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="red"] {
  @apply border-l-[5px] border-l-red-500 !important;
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="orange"] {
  @apply border-l-[5px] border-l-orange-500 !important;
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="yellow"] {
  @apply border-l-[5px] border-l-yellow-500 !important;
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="white"] {
  @apply border-l-[5px] border-l-white !important;
}

[data-rehype-pretty-code-figure] [data-chars-id="blue"] {
  @apply border-[2px] border-blue-500 py-0.5 mx-0.5 !important;
}

[data-rehype-pretty-code-figure] [data-chars-id="green"] {
  @apply border-[2px] border-green-500 py-0.5 mx-0.5 !important;
}

[data-rehype-pretty-code-figure] [data-chars-id="purple"] {
  @apply border-[2px] border-purple-500 py-0.5 mx-0.5 !important;
}

[data-rehype-pretty-code-figure] [data-chars-id="red"] {
  @apply border-[2px] border-red-500 py-0.5 mx-0.5 !important;
}

[data-rehype-pretty-code-figure] [data-chars-id="orange"] {
  @apply border-[2px] border-orange-500 py-0.5 mx-0.5  !important;
}

[data-rehype-pretty-code-figure] [data-chars-id="yellow"] {
  @apply border-[2px] border-yellow-500 py-0.5 mx-0.5 !important;
}

[data-rehype-pretty-code-figure] [data-chars-id="white"] {
  @apply border-[2px] border-white py-0.5 mx-0.5 !important;
}

.subheading-anchor {
  @apply no-underline;
}

code {
  @apply !text-foregroundAlt;
}

code::before,
code::after {
  content: none !important;
}

p code,
li code,
ul code,
ol code {
  @apply bg-muted rounded-md border-[1px] border-border font-monoLisa p-1 mx-0.5;
}

h1,
h2 {
  @apply mt-20 mb-3 !important;
}

h1 a {
  /* @apply font-bold text-[17px] mb-5 mt-20 !important; */
  @apply font-bold text-[28px] mb-5 mt-20 font-dahlia !important;
}

h2 a {
  @apply font-black text-2xl !important;
}

h3 a {
  @apply font-black text-xl !important;
}

p {
  @apply !text-[17px] !font-medium !leading-[1.8rem] !m-0 text-foregroundAlt;
}

ul {
  @apply pl-5 my-4 text-[18px] !important;
}

ul p {
  @apply m-0 !important;
}

ul li {
  @apply my-0 !important;
}

br {
  @apply m-0 !important;
}
