// BREAKPOINTS

$breakpointXS: 480px;
$breakpointSM: 768px;
$breakpointMD: 1024px;
$breakpointLG: 1280px;

// FONT SIZES

$fontSizeXS: 14px;
$fontSizeS: 16px;
$fontSizeS-M: 18px;
$fontSizeM: 20px;
$fontSizeL: 24px;
$fontSizeXL: 28px;
$fontSizeXXL: 36px;
$fontSizeXXXL: 48px;

// SPACING

$spacingXXS: 12px;
$spacingXS: 24px;
$spacingXS: 32px;
$spacingM: 48px;
$spacingL: 72px;
$spacingXL: 84px;
$spacingXXL: 96px;
$spacingXXXL: 126px;

// FONT WEIGHT

$fontWeightThin: 100;
$fontWeightExtraLight: 200;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;

// MIXINS

@mixin button {
  border: 1px solid var(--border);
  border-radius: 24px;
  @include flexCenter;
  cursor: pointer;
  background-color: var(--elementColor) !important;
  padding: 0.75rem;
  border-radius: 8px;
  height: fit-content;
  font-family: none;
  transition: 0.1s ease-in-out;
  & svg {
    width: 24px;
    height: 24px;
    fill: var(--secondaryTxtColor);
  }
  &:hover {
    border-color: var(--borderHovered);
  }
  &:hover svg {
    fill: var(--primaryTxtColor);
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin fullWidthLayout {
  border: 2px solid red;
  background: blue;
  width: 100%;
  max-width: 120rem;
  padding: 0 1rem;
}
